API_ID=22565342
API_HASH=75e035926f72f2f4155a6f5f6e64be03
BOT_TOKEN=7684739810:AAG9p4WZU4-u1s9-JXzU3l9Hig7yCjSb2Yo
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002781150474
OWNER_ID=7487670897
STRING_SESSION=BQFYUd4AC68E3CzCrdtJSCj7EpKfhi_Vy8EVgF-JMFrDJDAsmP98ZNTP28pOPC92xnnpFiyetUyp1H6YoNol0YnG984uWI-WatXAuqoVPYVgLquWC1OR4XEsq-Ex2O3By5anXltoagCT0j_YinmxgpXMwrM2e6aWjHshplknALJ0X6A35QUGpdO5yNpM9wqgjfgLM_160U6LUuiVEoYYv27KacT9Bymc6z8Y73ikcFPsbE_JcfEbT0eWfWvDIOiZBc6x9UbB40XqQGz9qrrwZe9wuBRmv7y-l_VaFUS59wQMkkDJsQGqGBHoTHato4zJ8lA_PN6vOkLBCmbM3F9VYnMrDc8txgAAAAG-K06AAA